<!--Encabezado -->
<section class="card  m-3 p-2">
    <img src="../../../assets/banner.png" alt="Programación Full Stack">
    <div>
        <img [src]="miPorfolio.image" id="FotoDePerfil" class="col-auto img-responsive p-2 rounded-circle"  alt="Nicolás Lanselota">
        <a href=""><img src="../../../assets/bxs-edit-alt.svg" class="" alt=""></a>
    </div>
    
    <H1 class="card-title m-2 mt-0">{{miPorfolio.name}}</H1>
    <H5 class="m-2 mt-0">{{miPorfolio.position}}</H5>

    <p class="card-text m-2 mt-0">{{miPorfolio.ubication}}<a href="https://wa.me/+541122613168?text=Hola,%20muchos%20gusto.%20En%20que%20puedo%20ayudarte">{{miPorfolio.contact}}</a></p>
    <div class="m-2">
        <button type="button" class="btn btn-primary btn-sm">Tengo interes en...</button>
        <button type="button" class="btn btn-secondary btn-sm">Añadir sección</button>
        <button type="button" class="btn btn-secondary btn-sm">Más</button>
    </div>
</section>
