     <!--Navbar-->
     <div class="navbar navbar-light bg-dark p-0 container-fluid">
        <div class="container-fluid">
          <div class="navbar-brand" href="#">
            <img src="../../../assets/APLogo-20-20 1.png" alt="" width="120" height="39" class="d-inline-block align-text-center">
            <p class="text-light d-inline-block align-text-center">#YoProgramo</p>
          </div>div
          <div class="containers bg-dark p-3">
            <a href=""><img src="../../../assets/youtube.png" class="col p-2" width="45px" alt="Youtube"></a>
            <a href=""><img src="../../../assets/instagram.png" class="col p-2 " width="45" alt="Instagram"></a>
            <button type="button" class="col p-2 btn btn-outline-light">Login</button>
          </div>
        </div>
    </div>
