<!--Educación -->
<section class="card m-3 p-2">
    <div class="row edu main-container">
        <H2 class="col m-2">Educación</H2>
        <button type="button" class="btn  col-1 m-3" (click)="onOpenModal('add')">
            <a class="nav-link">
                <img src="../../../assets/bx-add-to-queue.svg" alt="agregar"><span class="sr-only"></span>
            </a>
        </button>
    </div>
    <div class="" id="main-container">
        <ul class="row"  *ngFor="let Educacion of educaciones">
            <li class="list-group-item">
                <div class="row">
                    <img [src]="Educacion.imgEdu" class="col-2 img-responsive m-3" alt="Universidad de Buenos Aires">
                    <div class="col-7">
                        <H2>{{Educacion.tituloEdu}}</H2>
                        <p>{{Educacion.fechaEdu}} {{Educacion.descEdu}}</p>
                    </div>
                    <!--botones de edición-->
                    <div class="col-1">
                            <a type="button" 
                            class="btn  
                            col m-3" 
                            (click)="onOpenModal('edit',Educacion)"
                            >
                                <img src="../../../assets/bxs-edit-alt.svg" alt="edit">
                            </a>
                            <a type="button" 
                            class="btn  col m-3" 
                            (click)="onOpenModal ('delete',Educacion)" 
                            >
                                <img src="../../../assets/bx-x.svg" alt="x">
                            </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
</section>

<!-- Modal añadir educacion-->
<div class="modal fade" 
id="addEducacionModal" 
tabindex="-1" 
role="dialog" 
aria-labelledby="addEducacionModalLabel"
aria-hidden="true"
>

<div class="modal-dialog" role="document">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEducacionModalLabel">Añadir Educacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> &times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">

                        <div class="form-group">
                            <label for="tituloEdu">Titulo</label>
                            <input type="text" ngModel name="tituloEdu" class="form-control" 
                                aria-describedby="Titulo" placeholder="Titulo" required/>
                        </div>
                        <input type="hidden" ngModel name="idEdu" class="form-control" placeholder=""/>
                        <div class="form-group">
                            <label for="fechaEdu">Fecha</label>
                            <input type="number" ngModel name="fechaEdu" class="form-control" 
                                placeholder="Fecha" required/>
                        </div>
                        <div class="form-group">
                            <label for="descEdu">Descripción</label>
                            <input type="text" ngModel name="descEdu" class="form-control" 
                                placeholder="Descripción"/>
                        </div>
                        <div class="form-group">
                            <label for="imgEdu">Foto</label>
                            <input type="text" ngModel name="imgEdu" class="form-control" placeholder="Foto"
                                required/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-educacion-form" class="btn btn-secondary"
                                data-dismiss="modal">
                                cerrar
                            </button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-Primary">
                                Añadir cambios
                            </button>
                        </div>

                </form>
            </div>
    </div>
</div>

<!--editar modal-->

<div 
data-bs-tonggle="modal"
data-bs-target="#editEducacionModal"
class="modal fade" 
id="editEducacionModal" 
tabindex="-1" 
role="dialog" 
aria-labelledby="editEducacionModalLabel"
aria-hidden="true"
>

<div class="modal-dialog" role="document">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEducacionModalLabel">Añadir Educacion
                    {{editarEducacion?.tituloEdu}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> &times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">

                        <div class="form-group">
                            <label for="tituloEdu">Titulo</label>
                            <input type="text" ngModel="{{ editarEducacion?.tituloEdu }}" name="tituloEdu" class="form-control" id="tituloEdu"
                            aria-describedby="Titulo" placeholder="Titulo"/>
                        </div>
                        <input type="hidden" ngModel="{{ editarEducacion?.idEdu}}" name="idEdu" class="form-control" id="idEdu" placeholder=""/>
                        <div class="form-group">
                            <label for="date">Fecha</label>
                            <input type="number" ngModel="{{ editarEducacion?.fechaEdu }}" name="fechaEdu" class="form-control" id="fechaEdu"
                                placeholder="Fecha"/>
                        </div>
                        <div class="form-group">
                            <label for="descEdu">Descripción</label>
                            <input type="text" ngModel="{{ editarEducacion?.descEdu }}" name="descEdu" class="form-control" id="descEdu"
                                placeholder="Descripción"/>
                        </div>
                        <div class="form-group">
                            <label for="imgEdu">Foto</label>
                            <input type="text" ngModel="{{ editarEducacion?.imgEdu }}" name="imgEdu" class="form-control" id="imgEdu" placeholder="Foto"
                                />
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="" class="btn btn-secondary"
                                data-dismiss="modal">
                                cerrar
                            </button>
                            <button type="submit" (click)="onUpdateEducacion(editForm.value)" class="btn btn-Primary">
                                Añadir cambios
                            </button>
                        </div>

                </form>
            </div>
    </div>
</div>

<!-- delete modal -->

<div 
data-bs-tonggle="modal"
data-bs-target="#deleteModelLabel"
class="modal fade" 
id="deleteEducacionModal" 
tabindex="-1" 
role="dialog" 
aria-labelledby="deleteModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteEducacionModalLabel">borrar educacion
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"> &times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    estas seguro de que quieres eliminar?
                    {{ deleteEducacion?.tituloEdu }}?
                </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                                no
                            </button>
                            <button type="button" (click)="onDeleteEducacion(deleteEducacion!.idEdu)" class="btn btn-danger"
                            data-dismiss="modal">
                                si
                            </button>
                        </div>
            </div>
    </div>
</div>

<!-- alerta no hay educaciones -->
<div *ngIf="educaciones?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">no hay educaciones</h4>
        <p>educacion no encontradas</p>
    </div>
</div>